<div class="container">

  <!-- Left Section -->
  <div class="left" [class.forgot-active]="showForgotPassword">
    <button
      *ngIf="showForgotPassword"
      type="button"
      class="top-back-btn"
      (click)="backToLogin()"
      aria-label="Back to login"
    >
      <span class="material-icons">arrow_back</span>
    </button>

    <!-- LOGIN SECTION -->
    <div *ngIf="!showForgotPassword">
      <h2>LOGIN</h2>
      <p>Planning for a Leave? Just a one step away!</p>

      <!-- Email/Username section -->
      <div class="input-box">
        <span class="material-icons">email</span>
        <input type="email" placeholder="Username or Email" [(ngModel)]="username" name="username" required>
      </div>

      <!-- Password section -->
      <div class="input-box">
        <span class="material-icons">lock</span>

        <input 
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          required
        />

        <button type="button" class="toggle" (click)="togglePassword()">
          
          <span class="material-icons" *ngIf="!showPassword">
            visibility
          </span>

          <span class="material-icons" *ngIf="showPassword">
            visibility_off
          </span>

        </button>
      </div>

      <!-- Forgot Button -->
      <div class="forgot">
        <a href="" (click)="onForgotPassword($event)">Forgot Password?</a>
      </div>
      
      <!-- Login Button -->
      <button class="login-btn" (click)="onLogin()">
        Login Now
        <span class="material-icons btn-arrow">arrow_forward</span>
      </button>
    </div>

    <!-- FORGOT PASSWORD SECTION -->
    <div *ngIf="showForgotPassword" class="forgot-password-view">
      <h2>Forgot Password?</h2>
      <p>Don't Worry! Enter your email to receive an OTP</p>

      <div class="forgot-form-center">
        <!-- Email section -->
        <div class="input-box">
          <span class="material-icons">email</span>
          <input type="email" placeholder="Username or Email" [(ngModel)]="otpUsername" name="otpUsername" required>
        </div>

        <!-- Send OTP Button -->
        <button class="login-btn send-otp-btn" (click)="sendOTP()">Send OTP</button>
      </div>
    </div>
    
  </div>

  <!-- Right Section -->
  <div class="right">
    <div class="logo-container">
      <img src="assets/logo_text.png" alt="Main Logo text">
      <img src="assets/cresen_bg_removed.png" alt="Company Logo">
      <p class="tagline">COMPLEXITY SIMPLIFIED</p>
    </div>
  </div>

</div>